
/* Header */
.email-template-header{
    padding: 40px 48px;
}

/* Content */

.email-content img{
   width: 100%;
   height: auto;
}
.content {
    margin: auto;
}

.features-list{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 24px;
    margin-bottom: 2.5rem;
    font-weight: 700;
}

.features-list li {
    display: flex;
    align-items: center;
}

.features-list li svg {
    margin-right: 7px;
}
