
.email-container {
    background-color: #f1f5f9;
}
.wrap{
    margin: 2rem;
    background-color: white;
    text-align: justify;
}

/* Header */
.header {
   justify-content: space-between;
}

.social-links a{
padding: 7px;
text-decoration: none;
cursor: pointer;

}

/* Content */
.content {
    padding-top: 0;
}


/* Responsive Design */
@media screen and (max-width: 500px) {
   .wrap{
    margin: 1rem;
   }
}
